/*
 * global.scss
 *
 * common variables to be used throughout all stylesheets
 */

/* page */
 $page-padding: 10%;

/* Gris */
$col-padding: 0 5px;

/* tyopgraphy */
 $font-size: 16px;

/* Misc. */
 $transition: all .25s ease-in-out;