/*
 *  main.scss
 *	
 *	imports all tatemae stylesheets and houses website specific styles
 */

/* Partials */
@import "components/global";
@import "components/layout";
@import "components/common";
@import "components/nav";
@import "components/buttons";
@import "components/forms";
@import "components/tables";
@import "components/ui";
@import "components/gallery";
@import "components/carousel";

/* Website specific: Put custom code here */
.carousel-container {
	width: 100%;
	height: 600px;
}

.carousel-slide {
	height:100%;
	div { height: 100%;}
	h1 { margin: 0;}
}

#slide1 {
	width: 100%;
	background: red;
}
#slide2 {
	background: green;
}
#slide3 {
	background: blue;
}
#slide4 {
	background: pink;
}

/* Index.html */
.nav-column {
	width: 180px;
	position: fixed;
	height: 100vh;
	left: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d7d0cb+0,eadace+100 */
	background: #E5E0DD; /* Old browsers */

	z-index: 10;
	padding: 20px 0px;
	box-sizing: border-box;
	border-right: solid 1px #ccd;

	-webkit-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;

	@media screen and (max-width: 768px) {
		display: none;
	}

	&.page-top {
		left: -180px;

	}

	&:hover {
		left: 0;
	}

	li { 
		width: 100%; 
		line-height: 100%;

		a { 
			display: inline-block;
			color: #222; 
			padding: .53em 20px;
			
			&:hover {
				color: #fff;
			}
		}

		&.active {
			border-left: solid 4px #202592;
		}

	}

	nav { 
		font-size: .7em;
		font-family: 'Source Sans Pro', sans-serif;
		ul {
			margin: 0px 0 3px 0;
			padding: 0;
			font-weight: normal;

			li {
				box-sizing: border-box;
				padding: 0em 20px;
			}
		}
		.logo {
			width: 75%;
			margin-left: 12.5%;
			margin-bottom: 24px;
		}
	}
}

.content-column {
	position: relative;
}

#main-logo {
	width: 100px;
	display: block;
	margin: 0 auto;
}

.coverlet { 
	width: 100%;
	box-sizing: border-box;
	height: 100vh;
	z-index: 5;
	margin-bottom: 110px;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	margin-top: 1em;
	font-size: 1.5em;
	letter-spacing: -1px;
	font-weight: 600;
	color: #222;
	width: 900px;
	padding: .3em 0;
	text-align: center;

	em {
		font-style: normal;
		color: #D7D0CB;
	}
}

section {
	padding-left: 250px;
	padding-right: 150px;
	padding-bottom: 50px;
	height: auto;
	min-height: 200px;
	box-sizing: border-box;


	@media screen and (max-width: 768px) {
		padding: 0 50px 20px 50px;
	}
	@media screen and (max-width: 550px) {
		padding: 0 10px 20px 10px;
	}

	h2 {
		font-size: 1.4em;
		font-family: 'Open Sans', sans-serif;
	}

	p {
		font-family: 'Open Sans', sans-serif;
		font-size: .8em;
		line-height: 180%;

		&.large { font-size: 1em;}
	}
}

#layouts {
	.col, .flex { padding: 3px; }
	.grid-demo-box {
	  float: left;
	  width: 100%;
	  box-sizing: border-box;
	  padding: .5em 0;
	  background: #22222a;
	  border-radius: 3px;
	  color: #fff;
	  font-weight: 600;

	  p {
	  	text-align: center;
	  	font-size: .8em;
	  	margin: 1em 0;
	  }
	}
}

.flex-grid-demo {
	width: 75%;
	margin-left: 12.5%;
	background: #ccccdd;
	min-height: 100px;
	margin-bottom: 20px;

	.flex {

	}

	.grid-demo-box {
		background: #3af;
		padding: 1em;
	}
	&.two {
		height: 150px;
		.flex { width: 30%; }
	}
	&.three {
		height: 150px;
	}
}

.git-row {
	text-align: center;
	width: 300px;
	margin: 0 auto;

	&.left {
		text-align: left;
	}
}

#demo-form {
	max-width: 400px;
}

.demo-parallax {
	min-height: 600px;
	height: auto;
	background: #fafafc;

	h1 {
		width: 100%;
		text-align: center;
	}
}

#parallax-1 {
	background-image: url('/img/misc/desert.jpg');
}
#parallax-2 {
	background-image: url('/img/misc/wave.jpg');
}
#parallax-3 {
	background-image: url('/img/misc/desert.jpg');
}

.demo-nav {
	a { color: #222; }
	margin-bottom: 3em;
}
/* animations */
@-webkit-keyframes CoverBG {
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes CoverBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes CoverBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeInStart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;  }
}